# Binance Futures Testnet credentials
# Get these from: https://testnet.binancefuture.com
# Copy this file to .env and fill in your values.

BINANCE_API_KEY=VONF3KLnhbmke1nfMkYT0ljZ4A86Uzo1AF651rQj1UF9n4NSa7ejtnrXz89NCAb1
BINANCE_API_SECRET=zCYsHqUB6rxYdgdvO4jI1alOotwD8rghdJvKF1ciU5MA9ierDinS3OVFdfCLRNO6
